body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f5;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 220px;
  height: 100vh;

  background-color: #3b82f6;

  display: flex;
  flex-direction: column;

  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  color: white;
  font-weight: 700;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  transition: 0.3s;
}

.sidebar a:hover {
  opacity: 0.8;
}


main {
  margin-left: 220px;
  padding: 30px;
}

main h1 {
  color: #3b82f6;
}

main p {
  color: #555;
}


.categories-grid {
  display: grid;

  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  );

  gap: 25px;

  margin-top: 30px;
}

.category-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.category-card:hover {
  transform: translateY(-6px);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.category-image {
  width: 100%;
  height: 180px;

  object-fit: cover;
}


.category-card h3 {
  margin: 15px 15px 10px;

  color: #1f5c59;

  font-size: 1.3rem;
}

.category-card p {
  margin-left: 15px;
  margin-right: 15px;

  color: #555;

  line-height: 1.5;
}

.question-count {
  margin-top: auto;

  font-weight: bold;

  color: #3b82f6;
}


.play-btn {
  margin: 15px;

  padding: 12px;

  border: none;

  border-radius: 8px;

  background-color: #3b82f6;

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.play-btn:hover {
  background-color: #2563eb;
}


.bottom-bar {
  position: fixed;

  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #3b82f6;;

  padding: 15px;
}

.bottom-bar a {
  color: white;
  text-decoration: none;
}


@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  main {
    margin-left: 0;
    padding: 20px;
    padding-bottom: 90px;
  }

  .categories-grid {
    grid-template-columns: 1fr;
  }

  .category-image {
    height: 200px;
  }
}